*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(156, 229, 134);
    text-align: center;
}
.container{
    height: 70vh;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vh;
    width: 60vh;
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1px;
}
.btn{
    width: 18vmin;
    height: 18vmin;
    color: red;
  /* background-image: linear-gradient(90deg, #1CB5E0 0%, #000851 100%); */
  font-size: xx-large;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

p{
    font-size: larger;
}

body {
  background: linear-gradient(132deg, #000000,#00ff00, #0000ff,#e60073,#ff0000,#ffffff);
  background-size: 400% 400%;
  animation: BackgroundGradient 15s ease infinite;
}

h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: Open Sans, sans-serif;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  padding: 5px;
}
@keyframes BackgroundGradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

