body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.container{
    padding-top: 2rem;
    border: 1px solid black;
    width: 1000px;
    height: 500px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 100%;
    height: 100%;
}

button{
    width: 10vw;
    height: 10vh;
}